openapi: 3.2.0
info:
  title: Spiral Open Access Repository (DSpace 7 REST API) Discover…
  description: OpenAPI description of the read-oriented, publicly accessible subset of the DSpace 7.6.1 REST API powering Imperial College London's Spiral open-access repository.
  version: 7.6.1
  contact:
    name: Imperial College London - Spiral
    url: https://spiral.imperial.ac.uk/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://spiral.imperial.ac.uk/server/api
  description: Spiral DSpace 7 REST API (production)
tags:
- name: Discover
  description: Search and browse over indexed objects.
paths:
  /discover/search/objects:
    get:
      tags:
      - Discover
      summary: Search indexed objects
      description: Full-text and faceted search over indexed DSpace objects. Restrict to a type with `dsoType` (e.g. `item`, `collection`, `community`).
      operationId: searchObjects
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Lucene/Solr query string.
      - name: dsoType
        in: query
        required: false
        schema:
          type: string
          enum:
          - item
          - collection
          - community
      - name: scope
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Restrict the search to a community/collection UUID.
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: Sort spec, e.g. `dc.date.accessioned,DESC`.
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: A discovery search result.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/SearchResult'
components:
  schemas:
    Item:
      allOf:
      - $ref: '#/components/schemas/DSpaceObject'
      - type: object
        properties:
          inArchive:
            type: boolean
          discoverable:
            type: boolean
          withdrawn:
            type: boolean
          lastModified:
            type: string
            format: date-time
          entityType:
            type:
            - string
            - 'null'
          type:
            type: string
            example: item
    SearchResult:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        scope:
          type:
          - string
          - 'null'
        query:
          type:
          - string
          - 'null'
        appliedFilters:
          type:
          - array
          - 'null'
          items:
            type: object
        sort:
          type:
          - object
          - 'null'
        type:
          type: string
          example: discover
        _links:
          type: object
        _embedded:
          type: object
          properties:
            searchResult:
              type: object
              properties:
                _embedded:
                  type: object
                  properties:
                    objects:
                      type: array
                      items:
                        type: object
                        properties:
                          hitHighlights:
                            type:
                            - object
                            - 'null'
                          type:
                            type: string
                            example: discover
                          _embedded:
                            type: object
                            properties:
                              indexableObject:
                                $ref: '#/components/schemas/Item'
    MetadataMap:
      type: object
      description: Map of Dublin Core / DSpace metadata field keys (e.g. `dc.title`, `dc.contributor.author`) to arrays of metadata values.
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/MetadataValue'
    MetadataValue:
      type: object
      description: A single metadata field value in DSpace's metadata model.
      properties:
        value:
          type: string
        language:
          type:
          - string
          - 'null'
        authority:
          type:
          - string
          - 'null'
        confidence:
          type: integer
        place:
          type: integer
      required:
      - value
    DSpaceObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        uuid:
          type: string
          format: uuid
        name:
          type: string
        handle:
          type: string
          example: 10044/1/489
        metadata:
          $ref: '#/components/schemas/MetadataMap'
        type:
          type: string
        _links:
          type: object
  parameters:
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Zero-based page index.
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Page size.
x-operator: tenant
x-operator-evidence: spiral.imperial.ac.uk is under Imperial's own registrable domain but is a CNAME to icl-repository.prod.4science.cloud. The platform is DSpace 7.6.1 / DSpace-CRIS 2023.02.05 operated by 4Science; the records, the Handle prefix (10044), the OAI adminEmail (spiral-prd@imperial.ac.uk) and the DOIs are Imperial's. Same shape as scholarbank.nus.edu.sg CNAMEing to openrepository.com. This contract was derived from THIS instance (servers[] and info.contact both name Spiral), so it is instance-specific and not a shared vendor document — but the engineering behind it is not Imperial's.
x-operator-verified: '2026-08-19'
