openapi: 3.2.0
info:
  title: Spiral Open Access Repository (DSpace 7 REST API) Root API
  description: OpenAPI description of the read-oriented, publicly accessible subset of the DSpace 7.6.1 REST API powering Imperial College London's Spiral open-access repository.
  version: 7.6.1
  contact:
    name: Imperial College London - Spiral
    url: https://spiral.imperial.ac.uk/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://spiral.imperial.ac.uk/server/api
  description: Spiral DSpace 7 REST API (production)
tags:
- name: Root
  description: API entry point and link index.
paths:
  /:
    get:
      tags:
      - Root
      summary: API root
      description: Returns the HAL root document listing the DSpace version and the navigable `_links` to every API endpoint.
      operationId: getRoot
      responses:
        '200':
          description: Root document.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Root'
components:
  schemas:
    Root:
      type: object
      properties:
        dspaceUI:
          type: string
          format: uri
        dspaceName:
          type: string
        dspaceServer:
          type: string
          format: uri
        dspaceVersion:
          type: string
          example: DSpace 7.6.1
        crisVersion:
          type: string
          example: cris-2023.02.05
        type:
          type: string
          example: root
        _links:
          type: object
x-operator: tenant
x-operator-evidence: spiral.imperial.ac.uk is under Imperial's own registrable domain but is a CNAME to icl-repository.prod.4science.cloud. The platform is DSpace 7.6.1 / DSpace-CRIS 2023.02.05 operated by 4Science; the records, the Handle prefix (10044), the OAI adminEmail (spiral-prd@imperial.ac.uk) and the DOIs are Imperial's. Same shape as scholarbank.nus.edu.sg CNAMEing to openrepository.com. This contract was derived from THIS instance (servers[] and info.contact both name Spiral), so it is instance-specific and not a shared vendor document — but the engineering behind it is not Imperial's.
x-operator-verified: '2026-08-19'
